.custom-button {
  background-color: #e4e4e4;
  margin: 3px;
  color: #787878;
  border: none;
  padding: 5px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  transition: background-color 0.2s ease;
}

.custom-button:hover {
  background-color: #cc0000;
}
